<web-app>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:app-ctx.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
        
	<servlet>
		<servlet-name>adaptation</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>adaptation</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
</web-app>